@font-face {
    font-family: PFDinPro;
    src: url(../fonts/pfdintextcomppro-medium.woff);
}

@font-face {
    font-family: PFDinPro;
    src: url(../fonts/pfdintextcomppro-bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: newsBT;
    src: url(../fonts/newsBT-RomanC.woff);
    font-weight: bold;
}

@font-face {
    font-family: Circular;
    src: url(../fonts/lineto-circular-black.woff);
    font-weight: bold;
}

body{
	font-family: 'PFDinPro', sans-serif;
	font-size: 14px;
    -webkit-font-smoothing:antialiased;
}

p, input, textarea, h3, a{
	font-family: 'newsBT', Georgia, serif;
}

button, a.btn{
    font-family: 'Circular', sans-serif;
}

.header-info h1{
    text-shadow: 0px 1px 0px #888;
    font-size: 90%
}

/****************
SECTION
*****************/
section{
	background-color: #fff;
	padding: 40px 0;
}

section.darker{
	background-color: #fbfbfb;
}

section header{
	margin-bottom: 40px;
}

p{
	color: #222;

}

address{
	margin-bottom: 50px;
}

address span{
	margin-top:0;
	margin-bottom: 25px;
	font-size: 20px;
	display: block;
}

a{
	color: #444;
    font-size: 20px;
}

a:hover,
a:focus{
	color: #444;
    text-decoration: underline;
}

.logo{
	position: absolute;
	left: 15px;
	top: 15px;
}


.btn{
	padding: 10px 15px;
	border-radius: 0;
	-webkit-transition: border-color 0.4s, color 0.4s;
	transition: border-color 0.4s, color 0.4s;
}

.btn-primary{
	background: #fa5c58;
	color: #fff;
	border-color: #fa5c58;
    display: block;
    border-bottom: 3px solid #ba4949;
    width: 100%;
}

.btn-primary:hover,
.btn-primary:focus{
	background: #fff;
	color: #fa5c58;
    border-color: #fa5c58;
}


/****
    Jumbotron
****/

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}


.jumbotron{
	text-align: center;
	position: relative;
	background: url('../techtalks_w.png'); /*url('../img/bg.jpg');*/
	background-size: cover;
	color: #fff;
}

.jumbotron .mask{
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #333;
	opacity: 0.4;
}

.jumbotron p{
	color: #fff;
}

.jumbotron .container{
	margin-top: 10%;
}

.jumbotron h1{
	text-transform: uppercase;
	margin-bottom: 30px;
}

.header-info{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

/***
WEBINARS
****/

.calendar-icon {
    position: absolute;
    display: block;
    margin-right: .85rem;
    padding: 8px 6px;
    border: 2px solid black;
    border-top: 10px solid black;
    background: white;
    font-family: "PFDin",Impact,Arial;
    text-transform: uppercase;
    text-align: center;
    line-height: 1rem;
}

#webinars{
    margin-bottom: 150px;
}

.webinar-item{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.webinar-item:hover{
    background: #efefef;
}


.webinar-item:hover img.grayscale    {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.webinar-item h3{
    text-decoration: underline;
}

.webinar-item .schedule{
    margin-top: 27px;
}

.webinar-item .date{
    font-size: 90%;
    margin-left: 50px;
}


/***
SERVICES
****/
.service-item{
	text-align: center;
}


/****
PORTFOLIO
*****/
.project{
	border: 1px solid #808080;
	margin-bottom: 70px;
}

.project .project-info h3{
	margin-top: 50px;
}

.project .project-info p{
	padding-right: 30px;
	margin:30px 0;
}

.project .project-info .close{
	position: absolute;
	right: 20px;
	top:10px;
	width: 20px;
	height: 20px;
	font-size: 20px;
	color: #808080
}

.portfolio-item{
	position: relative;
	margin-bottom: 30px;
}

.portfolio-item .mask{
	position: absolute;
	top:0;
	left: 15px;
	right: 15px;
	height: 100%;
	transition: all 0.4s;
	background: rgba(0,0,0, 0.5);
	opacity: 0;
}

.portfolio-item .mask i{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top:-25px;
	margin-left: -25px;
	width: 50px;
	height: 50px;
	color: #fff;
	background-color: #fa694e;
	text-align: center;
	line-height: 50px;
	font-size: 30px;
}

.portfolio-item:hover .mask{
	opacity: 1;
}


/*******************************
FORMS
********************************/
form{
	margin-bottom: 70px;

}

.form-group .btn{
	width: 100%;
	text-transform: uppercase;
}
.form-control{
	padding: 17px 25px;
	font-size: 15px;
	height: auto;
	border-radius: 0;
	background: #f1f4f7;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all 0.5;
	transition: all 0.5s;
	border: 1px solid #fff;
}

.form-control:focus{
	border: 1px solid #454554;
	-webkit-box-shadow: none;
	box-shadow: none;
}

footer{
	padding: 75px 0;
	background-color: #333;
	color: #fff;
}

footer p{
	color: #fff;
}

ul.social-icons{
	list-style: none;
	padding: 0;
}

ul.social-icons > li{
	float: left;
	margin-right: 25px;
}

ul.social-icons > li > a{
	color: #333;
	width: 38px;
	height: 38px;
	line-height: 38px;
	border-radius: 100%;
	background: #fff;
	display: block;
	text-align: center;
}


@media screen and (min-width: 768px){

	.jumbotron h1,
	.jumbotron .h1 {
		font-size: 75px;
	}
}
